<div class="c-footer">
    <div class="c-footer__wrapper">
        <div class="c-footer__privacy">
            <h3>Privacidad</h3>
            <ul>
                <li><a href="">Terms of use</a></li>
                <li><a href="">Privacy policy</a></li>
                <li><a href="">Cookies</a></li>
            </ul>
        </div>
        <div class="c-footer__services">
            <h3>Servicios</h3>
            <ul>
                <li><a href="">Tienda</a></li>
            <li><a href="">ordernes</a></li>
            <li><a href="">Menu</a></li>
            </ul>
            
        </div>
        <div class="c-footer__aboutus">
            <h3>Sobre nosotros</h3>
            <ul>
                <li><a href="">Localizaciòn</a></li>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Nuestra historia</a></li>
            </ul>
    
        </div>
        <div class="c-footer__information">
            <h3>Informaciòn</h3>
            <ul>
                <li><a href="">Localizaciòn</a></li>
                <li><a href="">Sobre nosotros</a></li>
                <li><a href="">Nuestra historia</a></li>
            </ul>
        </div>
        <div class="c-footer__socialmedia">
            <h3>Redes sociales</h3>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
    <div class="c-footer__copyright">
        <p>Copyright @ 2024 Don.Cofellio</p>
    </div>
</div>