<div class="c-footer">
    <h3><span>+51</span> 943618234</h3>
    <div class="c-footer__wrapper">
        <div class="c-footer__option">
            <ul>
                <li><a href="">about us</a></li>
                <li><a href="">menu</a></li>
                <li><a href="">gallery</a></li>
                <li><a href="">more info</a></li>
            </ul>
            <img src="../../public/logo.png" alt="" srcset="">
        </div>
        <div class="c-footer__socialmedia">
            <ul>
                <li><a href="  ">twiter</a></li>
                <li><a href="">facebook</a></li>
                <li><a href="">instagram</a></li>
                <li><a href="">tiktok</a></li>
            </ul>
        </div>
    </div>
</div>