<button class="navbar-btn" id="navbarbtn"><i class="fa-solid fa-bars"></i></button>
<nav class="c-navbar">
    <button class="navbar-btn-close" id="navbarclosebtn"><i class="fa-solid fa-xmark"></i></button>
    <ul class="c-navbar__menu">
        <li class="c-navbar__item"><a href="../index.html">Inicio</a></li>
        <li class="c-navbar__item"><a href="../index#about-us">about</a></li>
        <li class="c-navbar__item"><a href="../../pages/menu.html">Menu</a></li>
        <li class="c-navbar__item"><a href="../../pages/shop.html">Tienda</a></li>
    </ul>
    
</nav>

