.footer{
    background-color: #332828;
    height: 250px;
    position: relative;
    bottom: 0;
    
}
.footer h3,
.footer ul li a,
.copyright,
.footer-socialmedia{
    color: #ffffff;
}
.footer-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: calc(100% - 50px);
}
.footer ul {
    list-style: none;
    
}

.copyright{
    height: 50px;
    background-color: #57433a;
    place-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer-socialmedia i:not(:nth-child(2)){
    padding: 20px 25px;
}

