.c-footer{
    background-color: #332828;
    height: 250px;
    position: relative;
    bottom: 0;
    
}
.c-footer h3,
.c-footer ul li a,
.c-footer__copyright,
.c-footer__socialmedia{
    color: #ffffff;
}
.c-footer__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    height: calc(100% - 50px);
}
.c-footer ul {
    list-style: none;
    
}

.c-footer__copyright{
    height: 50px;
    background-color: #57433a;
    place-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.c-footer__socialmedia i:not(:nth-child(2)){
    padding: 20px 25px;
}

