@import url('./general.css');


h2 {
    font-size: clamp(80px, calc(15vw + 1rem), 310px);
    letter-spacing: clamp(15px, calc(2vw * 2.5), 100px);
}

.page-greeter {
    width: 100%;
    margin-top: min(150px, 20%);
    text-align: center;
    z-index: 99999;
}

.gallery {
    display: flex;
    width: 90%;
    height: 100%;
    justify-content: space-evenly;
    margin-bottom: 150px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    position: relative;
    margin: auto;
    
}

.outline,
.filled {
    position: fixed;
    background-image: url("../assets/images/DONCOFFELLIOfiled.svg");
    /* width: 800px;
    height: 600px; */
    width: clamp(200px, 90vw, 800px);
    height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 0;

}

.outline {
    background-image: url("../assets/images/DONCOFFELLIOoutfile.svg");
   
    z-index: 999;
}

.gallery-item {
    position: relative;
    place-content: end;
    display: inline;
    margin-bottom: 80px;
}

.gallery-item p {
    
    font-size: 20px;
    height: auto;
    width: 340px;
    text-align: left;
    place-content: right;
    display: block;
    color: rgb(100, 100, 100);
    
}

.gallery-item img {
    width: clamp(340px, calc(60vw + 1rem), 710px);
    
}
