@import url('./general.css');

#navbar-container.sticky {
    position: sticky;
    top: 10px;

}


.arrow-link::after {
    content: "";
    background-image: url('../assets/images/Arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 53px;
    width: calc(100% + 10px);
    position: absolute;
    bottom: -30px;
    left: 0;
}

.arrow-link a {
    text-decoration: none;
    color: #7e7e7e;
    letter-spacing: 3px;
    font-size: 30px;
}

.c-aboutus,
.c-weoffer,
.some-products,
.c-footer {
    border-top: 1px solid black;
}

.c-home__logo {
    position: absolute;
    width: 250px;
    top: 10px;
    left: 40px;
}

/*-----------------------------------------------------------------------------------*/


.c-home {
    height: 100vh;
    margin-top: 0;
    place-content: center;

}

.c-home__wrapper {
    position: relative;
    display: flex;
    transform: translateY(100px);

}

.c-home__slogan-wrapper {
    position: relative;
    width: 50%;

}

.c-home__slogan h1 {

    letter-spacing: 5px;
    /* max-width: 700px; */
    font-weight: 500;

}

.c-home__slogan p {
    font-size: 30px;
}

.c-home__slogan p>span {
    color: rgb(255, 169, 57);
}

.c-home__image {
    width: 50%;
    place-content: center;
    object-fit: cover;
}

.c-home__image img {
    width: 900px;
}

/*-----------------------------------------------------------------------------------*/
.c-aboutus__nosotros-title--d1 {
    display: none;
}

.c-aboutus__wrapper {
    display: flex;
}

.c-aboutus__nosotros {
    position: relative;
}

.c-aboutus__sobre h2,
.c-aboutus__nosotros h2 {
    text-align: right;
}

.c-aboutus__nosotros h2 {
    text-align: left;

}

.c-aboutus .c-aboutus__sobre img {
    max-width: 900px;
}

.c-aboutus__nosotros p {
    width: 100%;
    text-align: left;
    padding-left: 10px;
    color: rgb(121, 121, 121);
    justify-items: flex-end;

}

.c-aboutus__nosotros {
    margin-top: 200px;
}

.c-aboutus__arrow-link {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*-----------------------------------------------------------------------------------*/

.c-weoffer__caracteristics-wrapper {
    display: grid;
    align-items: center;
}

.c-weoffer__wrapper-content {
    display: flex;
}

.c-weoffer__image-container {
    position: relative;
}

.c-weoffer__wrapper-content p {
    color: rgb(121, 121, 121);
}

.c-weoffer__p-align-top {
    align-self: flex-start;
}

.c-weoffer__image-container .image {
    width: 855px;
    height: clamp(500px, 75vh, 900px);
    position: relative;
    background-image: url("../assets/images/weoffer.png");
    background-position: center;
    background-size: cover;
}

.filled,
.outline {
    position: absolute;
    width: 855px;
    height: clamp(500px, 60vh, 900px);
    background-image: url("../assets/images/weofferc1.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
}

.outline {
    background-image: url("../assets/images/weofferc2.svg");
    z-index: 999;
}

/*-----------------------------------------------------------------------------------*/


.some-products {
    margin-bottom: 130px;
    position: relative;
}

.some-products h2 {
    width: 300px;
}

.some-products__items-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
}

.some-products__item p {
    font-size: 32px;
}

.some-products__img-item {
    background-color: #E8E8E8;
    width: 400px;
    height: 450px;
    margin: auto;
}

.some-products__img-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.some-products__arrow-link {
    position: absolute;
    bottom: -50px;
    right: 30px;
}


/* Tabletas grandes y pantallas pequeñas */
@media screen and (max-width: 1024px) {}

/* Tabletas */
@media screen and (max-width: 768px) {}

/* Teléfonos móviles en modo retrato */
@media screen and (max-width: 920px) {

    .c-home{
        height: auto;
    }
    
    .c-home__wrapper {
        display: block;
        text-align: center;
    }

    .c-home__slogan-wrapper {
        width: 100%;
    }

    .c-home__wrapper .c-home__image {
        width: 100%;
        display: block;
    }

    .c-home__image img {
        width: 100%;
        display: block;
    }

    .c-home__logo {
        width: 140px;
        top: 10px;
        left: 12px;
    }

    .c-aboutus {
        margin-top: 100px;
    }

    .c-aboutus__wrapper {
        display: block;
    }

    .c-aboutus__nosotros {
        margin-top: 10px;
        padding-bottom: 70px;
    }

    .c-aboutus__nosotros-title--d1 {
        display: block;
    }

    .c-aboutus__nosotros-title--d2 {
        display: none;
    }

    .c-aboutus .c-aboutus__sobre img {
        width: 100%;
        place-self: center;
    }

    .c-aboutus__sobre h2 {
        text-align: left;
    }

    .c-weoffer__wrapper-content{
        display: block;
    }

    
    .c-weoffer__image-container .image {
        width: 100%;
        background-size:contain;
        background-repeat: no-repeat;
    }
    .filled,
    .outline {
        width: 100%;
        background-size:contain;
    }

    .c-weoffer__caracteristics-wrapper p{
        margin-top: 40px;
        text-align: center;
    }

    .some-products__items-wrapper{
        justify-content: center;
    }
    .some-products__item{
        margin-top: 40px;
    }
}

@media screen and (max-width: 415px){
    .some-products__img-item {
        background-color: #E8E8E8;
        width: 300px;
        height: 350px;
        margin: auto;
    }

    .some-products__item{
        margin-top: 40px;
    }

    .c-weoffer__image-container .image,
    .filled,
    .outline {
        height: 400px;
    }
}