@import url("./global.css");

.c-navbar {
  height:50px;
  place-content: center;
  width: 500px;
  border-radius: 30px;
  background-color: #ffffff;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow-elevation-medium);
   
}

.c-navbar__menu{
    text-decoration: none;
}
.c-navbar__item{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
}
.c-navbar__item a{
    
    text-decoration: none;
}