@import url("./global.css");
@import url("./general.css");

.c-navbar {
  height:50px;
  place-content: center;
  width: 600px;
  border-radius: 30px;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow-elevation-medium);
  color: black;
  border: 1px #000000 solid;
  background-color: #ffffff;
   
}
.c-navbar ul {
    margin-bottom: 0;
}
.c-navbar__menu{
    text-decoration: none;
}
.c-navbar__item{
    display: inline-block;
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.15rem;
}
.c-navbar__item a{
    color: #000000;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 24px;
}

.c-navbar__item a:visited{
    
    color: black;
}


.c-navbar__item a:hover{
    
    color: rgb(255, 135, 55);
}


@media screen and (max-width: 576px) {
    .c-navbar{
        display: none;
    }
    .navbar-btn{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 10px;
        top: 0;
        font-size: 40px;
        background: none;
        border: none;
        
    }
}